
<div class="container">
 
  
     
    <ul>
        <li><button type="button" (click)="globalQuote()"  class="btn btn-primary m-2">Global Quote</button>
        </li>
            <!-- <button type="button" (click)="timeSeries()">Time Series</button> -->
        <li>
            <button type="button" (click)="dailyTimeSeries()"  class="btn btn-primary m-2">Daily Time Series</button>

        </li>
        <li>
            <button type="button" (click)="weeklyAdjustedTimeSeries()"  class="btn btn-primary m-2">Weekly Adjusted Time Series</button>

        </li>
        <li>
            <button type="button" (click)="monthlyTimeSeries()"  class="btn btn-primary m-2">Monthly Time Series:</button>

        </li>
    </ul>
    
</div>