<div class="container-fluid p-0 m-0">
    <!-- <nav class="navbar navbar-expand-lg navbar-dark ">
        <div class="container head-bg">
          <div class="navbar-header">
          <h1>{{title}} </h1> 
          </div>
          
        </div>
        <div class="container">
            <ul class="nav navbar-nav">
                <li class="nav-item"><a [routerLink]="['home']" class="badge fs-4 nav-link text-dark">Home</a></li>
                <li class="nav-item"><a [routerLink]="['apicalls']" class="badge fs-4 nav-link text-dark">Apicalls</a></li>
            </ul>
        </div>
    </nav> -->
    <nav class="navbar navbar-expand-lg  head-bg">
        <div class="container-fluid">
          <a class="navbar-brand">{{title}}</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active fs-4 text-dark" aria-current="page" [routerLink]="['home']">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active fs-4 text-dark" [routerLink]="['apicalls']">Apicalls</a>
              </li>
              
            </ul>
           
          </div>
        </div>
      </nav>
    <router-outlet></router-outlet>
</div>
